body {
    background-color: darkslategrey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

tr th {
    border: 6px dashed crimson;
    color: rgb(16, 3, 93);
    padding: 18px;
}

tr td {
    border: 3px solid greenyellow;
    color: turquoise;
    padding: 18px;
}

button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 30px;
}

a:link {
    color: orangered;
}

a:visited {
    color: greenyellow;
}

#o {
    font-size: 100px;
    color:orange;
}

#s {
    font-size: 100px;
    color:black;
    position: relative;
    top: 80px;
    left: 25px;
    
}

#u {
    font-size: 100px;
    color:grey;
    position: relative;
    top: 160px;
    left: 50px;
}